@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');

/* :root{
    --theme-color: #616161;
    --navbar-shallow-color: #616161;
} */

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat',sans-serif;

}

html {
    scroll-behavior: smooth;
}


/* CONTENIDO PRINCIPAL */
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #313131;
    color: #fff;
}

/* ESTILOS DEL MENU */
.topheader {
    /* box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--theme-color); */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

#selected{
    /* background: #F6615D; */
    /* color: #18ffff; */
    padding: 10px 40px;
    /* border-radius: 50px; */
}

.menu a:hover {
    color: aqua;
    transition: all 300ms;
}

.menu #btn_menu{
    display: none;
}


/* estilos de la section info content */
.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1 {
    font-size: 3em;
}

span {
    color: aqua;
}

@keyframes typing {
    from { width: 0 }
}

.download-cv {
    font-family: 'Montserrat',sans-serif;
    color: #000000;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.5);
    transition: all 300ms;
}

.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
    
}

.main img {
    margin-top: 5em;
    width: 350px;
    border: 4px solid aqua;
    height: auto;
}

/* ESTILOS DEL ABOUT */
.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 5em;
}

.about-info h2 {
    font-size: 3em;
    color: #313131;
}

.about-info p {
    color: black;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2.5em;
}

.about p {
    margin-bottom: 1em;
    color: black;
    letter-spacing: 0.5px;
}

.about .container {
    width: 35vw;
    height: 35vh;
    margin: 0 auto;
    display: flex;
}
 
/* ESTILOS DEL PORTAFOLIO */
.portfolio {
    width: 100vw;
    background-color: #313131;
    color: #fff;
}

.portfolio-headings {
    width: 100vw;
    padding: 5em;
}

.portfolio-headings h2 {
    font-size: 2.5em;
}

/* CENTRANDO CONTAINER CARDS EN SECTION PORTAFOLIO */
.portfolio .container {
    
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -100px;
    padding-bottom: 2em;
} 

/* ESTILOS DE LAS CARDS */
.card {
    width: 350px;
    margin: 10px;
    padding: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover .cover__card img {
    transform: scale(1.1);
}

.cover__card {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    overflow: hidden;
}

.cover__card img {
    width: 110%;
    transition: all 300ms;
}

.card h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
}

.card p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5px;
}

.card hr {
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #fff;
}

.footer__card {
    margin-top: 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer__card a {
    font-size: 25px;
    font-weight: 500;
    margin-top: 0 auto;
    color: #fff;
}

.card .proyect-details-content a {
    text-decoration: none;
    color: #313131;
    text-transform: uppercase;
}

.proyect-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

/* CONTACTO */
.details-contact {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.details-contact a {
    padding: 0.5em;
    font-size: 5em;
    color: #313131;
    transition: all 300ms;
}

.details-contact a:hover {
    transform: translateY(-10px);
}

/* BUTTON HACIA ARRIBA */
.button-up {
    width: 50px;
    height: 50px;
    background: #00BFA5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    position: fixed;
    bottom: 102px;
    right: 40px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

.btn-scrolltop-on {
    transform: scale(1);
}

.button-up:hover{
    /* transform: scale(1.1); */
    border-color: (0,0,0,0.5);
}

/* ESTILOS FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: #313131;
    color: #fff;
}

.footer-content {
    font-size: 1em;
    color: #fff;
}

.footer-content h2 {
    text-align: center;
}

/* HACIENDO LA PAGINA RESPONSIVE */
@media screen and (max-width:1200px){
    header{
        padding: 40px;
    }

    .main img {
        margin-top: 7em;
        /* margin-top: -100px; */
        width: 250px;
    }

    .container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    
    .button-up {
        bottom: 105px;
        right: 40px;
    }
}

@media screen and (max-width: 1020px) {
    .main img{
        display: none;
    }

    .info-content h1, p {
        max-width: 800px;
    }
}

@media screen and (max-width: 720px) {
    
    .menu nav {
        position: fixed;
        top: 0;
        right: -250px;
        background: rgb(218, 214, 214);
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul {
        flex-direction: column;
        margin-top: 20px;
    }

    .menu ul li {
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a {
        color: #313131;
    }

    /* #selected{
        /* background: none; */
        /* padding: 10px 40px; */
        /* border-radius: none; */
        /* color: #18ffff; 
        
    } */

    #back_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .menu #btn_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        margin-left: 180px;
        transition: all 300ms;
    }

    .menu #btn_menu:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .about-info {
        grid-column: none;
    }

    .about img{
        display: none;
        /* grid-column: none; */
    }

    #button-up {
        bottom: 105px;
        right: 10px;
    }
}